<div class="container">
    <div class="container mt-5">
        <p class="lead text-center h1 CorTitulo text-uppercase">
            <strong>{{ title }} </strong>          
          </p>
    <hr>
    </div>
  
    <div class="container fundoForm">
      
        <fieldset class="border rounded mt-3 p-2">
            <legend class="w-auto border-bottom text-primary"></legend>
           <div class="container">

             <form  [formGroup]="formulario" novalidate (ngSubmit)="FormEntrevista()"> 
                <!--
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary">
                            <label for="lblCliente">Questionário:</label>
                            <div  *ngIf="questionnaire_form_name" class="alert alert-secondary text-center text-primary" role="alert">
                               <strong>{{ questionnaire_form_name }}</strong>
                              </div>
                        </div>
                    </div>              
                </div>
            -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            <label for="lblCliente">Cliente:</label>
                            <div  *ngIf="fantasy_name" class="alert alert-secondary text-center text-primary" role="alert">
                                <strong>{{ fantasy_name }}</strong>
                               </div>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            <label for="lblCliente">Filial:</label>
                            <div  *ngIf="customer_office_name" class="alert alert-secondary text-center text-primary" role="alert">
                                <strong>{{ customer_office_name }}</strong>
                               </div>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            <label for="lblCliente">Unidade de Négocio:</label>
                            <div  *ngIf="business_unit_name" class="alert alert-secondary text-center text-primary" role="alert">
                                <strong>{{ business_unit_name }}</strong>
                               </div>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            <label for="lblCliente">Area:</label>
                            <div  *ngIf="area_name" class="alert alert-secondary text-center text-primary" role="alert">
                                <strong>{{ area_name }}</strong>
                               </div>
                        </div>
                    </div>              
                </div>
                <div class="form-group text-primary text-uppercase">
                    <label for="lblLocal">Local da Entrevista:</label>
                    <textarea class="form-control"  name="location_log"  rows="2" formControlName="location_log"></textarea>
                  </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">   
                            <label for="lblCliente">Nome do Entrevistado:</label>
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="interviewee_1_id_log" id="interviewee_1_id_log">
                                <option *ngFor="let interviewee of interviewees" [value]="interviewee.id">{{ interviewee.interviewee_name }}</option>                           
                              </select>
                              <small *ngIf="formulario.get('interviewee_1_id_log').valid && formulario.get('interviewee_1_id_log').touched" class="form-text text-success"> <i class="fa fa-check"></i></small>
                              <small *ngIf="!formulario.get('interviewee_1_id_log').valid && formulario.get('interviewee_1_id_log').touched" class="form-text text-danger"><i class="fa fa-times"></i></small>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="interviewee_2_id_log" id="interviewee_2_id_log">
                                <option *ngFor="let interviewee of interviewees" [value]="interviewee.id">{{ interviewee.interviewee_name }}</option>                           
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="interviewee_3_id_log" id="interviewee_3_id_log">
                                <option *ngFor="let interviewee of interviewees" [value]="interviewee.id">{{ interviewee.interviewee_name }}</option>                           
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="interviewee_4_id_log" id="interviewee_4_id_log">
                                <option *ngFor="let interviewee of interviewees" [value]="interviewee.id">{{ interviewee.interviewee_name }}</option>                           
                              </select>
                        </div>
                    </div>              
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="interviewee_5_id_log" id="interviewee_5_id_log">
                                <option *ngFor="let interviewee of interviewees" [value]="interviewee.id">{{ interviewee.interviewee_name }}</option>                           
                              </select>
                        </div>
                    </div>              
                </div>

                <div class="form-group text-primary text-uppercase">
                    <label for="lblGerais">Demais participantes:</label>
                    <textarea class="form-control" id="demaisparticipantes" name="other_participants_log" rows="3" formControlName="other_participants_log"></textarea>
                  </div>

                <div class="form-group text-primary text-uppercase">
                    <label for="lblGerais">Considerações Gerais:</label>
                    <textarea class="form-control" id="consideracaoesGerais" name="general_considerations_log" rows="3" formControlName="general_considerations_log"></textarea>
                  </div>
     
                
                <div class="row">
                    <div class="col-sm-4 text-center text-uppercase">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" (click)="LimparForm()">LIMPAR</button>      
                        </div>
                    </div>
                    <div class="col-sm-4 text-center text-uppercase">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">SALVAR</button>   
                        </div>
                    </div>
                    
                    <div class="col-sm-4 text-center text-uppercase">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" [routerLink]="['/question/menu']">MENU</button>  
                        </div>
                    </div>            
                </div>                              
              </form>
           </div>
        </fieldset>
        <br><br>
    </div>

  
</div><!-- End Container -->

