<div class="container">
    <div class="container mt-5">
        <p class="lead text-center h1 CorTitulo">
            {{title}}           
          </p>
    <hr>
    </div>
  
    <div class="container">
    
        <fieldset class="border rounded mt-3 p-2">
            <legend class="w-auto border-bottom text-primary"><h5></h5></legend>
           <div class="container">
            <form>          
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Nome do Questionário" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Cliente" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Filial" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Unidade de Négocio" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Área" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 select" id="cidade" name="cidade">
                                <option selected>Selecione o Entrevistado:</option>
                              
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 select" id="cidade" name="cidade">
                                <option selected>Selecione o Entrevistado:</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 select" id="cidade" name="cidade">
                                <option selected>Selecione o Entrevistado:</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 select" id="cidade" name="cidade">
                                <option selected>Selecione o Entrevistado:</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 select" id="cidade" name="cidade">
                                <option selected>Selecione o Entrevistado:</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Considerações Gerais:</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
     
                
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger">Limpar</button>   
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" [routerLink]="['/question/painelentrevista']">Gravar</button>    
                        </div>
                    </div>
                    
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" [routerLink]="['/question/menu']">Menu de Acesso</button>  
                        </div>
                    </div>            
                </div>
                              
              </form>
           </div>
        </fieldset>
    </div>

  
</div><!-- End Container -->

