<div class="container">
    <div class="container mt-5">
        <p class="lead text-center h1 CorTitulo">
            {{title}}           
          </p>
    <hr>
    </div>
  
    <div class="container">
    
        <fieldset class="border rounded mt-3 p-2">
            <legend class="w-auto border-bottom text-primary"></legend>
           <div class="container">

             <form  [formGroup]="formulario" novalidate (ngSubmit)="FormEntrevista()"> 

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Nome do Questionário" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Cliente" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Filial" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Unidade de Négocio" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control text-center" type="text" placeholder="Área" readonly>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter"  formControlName="entrevistado1" id="entrevistado1">
                                <option value="">Selecione o Entrevistado:</option>
                                <option value="entrevistado1">Entrevistado 1</option>                              
                              </select>
                              <small *ngIf="formulario.get('entrevistado1').valid && formulario.get('entrevistado1').touched" class="form-text text-success"> <i class="fa fa-check"></i></small>
                              <small *ngIf="!formulario.get('entrevistado1').valid && formulario.get('entrevistado1').touched" class="form-text text-danger"><i class="fa fa-times"></i></small>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter"  formControlName="entrevistado2" id="entrevistado2">
                                <option value="">Selecione o Entrevistado:</option>
                                <option value="entrevistado2">Entrevistado 2</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter"  formControlName="entrevistado3" id="entrevistado3">
                                <option value="">Selecione o Entrevistado:</option>
                                <option value="entrevistado3">Entrevistado 3</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter"  formControlName="entrevistado4" id="entrevistado4">
                                <option value="">Selecione o Entrevistado:</option>
                                <option value="entrevistado4">Entrevistado 4</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="custom-select mr-sm-2 selectCenter"  formControlName="entrevistado5" id="entrevistado5">
                                <option value="">Selecione o Entrevistado:</option>
                                <option value="entrevistado5">Entrevistado 5</option>
                               
                              </select>
                        </div>
                    </div>              
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Considerações Gerais:</label>
                    <textarea class="form-control" id="consideracaoesGerais" rows="3" formControlName="consideracaoesGerais"></textarea>
                  </div>
     
                
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger" (click)="LimparForm()">Limpar</button>      
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Gravar</button>   
                        </div>
                    </div>
                    
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" [routerLink]="['/question/menu']">Menu</button>  
                        </div>
                    </div>            
                </div>
                              
              </form>
           </div>
        </fieldset>
    </div>

  
</div><!-- End Container -->

