<div class="container">
  <div class="container mt-2">
      <p class="lead text-center h1 CorTitulo text-uppercase">
          <strong>{{ title }} </strong>
        </p>
  <hr>
  </div>

  <div class="container fundoForm">

         <div class="container">

           <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Razão Social</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Razão Social">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nome Fantasia</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Nome Fantasia">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Endereço</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Endereço">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Nº</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Nº">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress2">Complemento</label>
              <input type="text" class="form-control" id="inputAddress2" placeholder="Complemento">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputState">Estado</label>
                <select id="inputState" class="form-control">
                  <option selected>Estado...</option>
                  <option>...</option>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="inputState">Cidade</label>
                <select id="inputState" class="form-control">
                  <option selected>Cidade...</option>
                  <option>...</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">CNPJ</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="CNPJ">
              </div>
            </div>

            <div class="container">
              <p class="lead text-center h3 subTitulo text-uppercase">
                 {{ subTitulo }}
                </p>
          <hr>
          </div>

         <div class="form-row">
           <div class="form-group col-md-6">
             <label for="inputEmail4">Nome</label>
             <input type="email" class="form-control" id="inputEmail4" placeholder="Nome">
           </div>
           <div class="form-group col-md-4">
             <label for="inputPassword4">Cargo</label>
             <input type="password" class="form-control" id="inputPassword4" placeholder="Cargo">
           </div>
         </div>
         <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">Celular</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity">Telefone</label>
            <input type="text" class="form-control" id="inputCity">
          </div>

          <div class="form-group col-md-2">
            <label for="inputZip">Ramal</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
         <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">E-mail</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-4">
            <label for="inputCity">Depto</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
        </div>
        <div class="container text-center">
          <button type="submit" class="btn btn-primary" style="background-color: #7b2e07; border: none;">Voltar</button>&nbsp;
          <button type="submit" class="btn btn-primary" style="background-color: #ff4a06;border: none;">Excluir</button>&nbsp;
          <button type="submit" class="btn btn-primary" style="background-color: #ffbd06;border: none;">Incluir</button>&nbsp;
          <button type="submit" class="btn btn-primary" style="background-color: #0e06ff;border: none;">Salvar</button>&nbsp;
          <button type="submit" class="btn btn-primary" style="background-color: #092d05;border: none;">Menu</button>&nbsp;
          <button type="submit" class="btn btn-primary" style="background-color: #7b2e07;border: none;">Avançar</button>
        </div>
            </form>
         </div>

      <br><br>
  </div>


</div><!-- End Container -->

