.jumbotron {
    padding: 2rem 2rem !important;
}

.ajusteAltura{
    padding-top: 1px !important;
}

.ajusteTituloDoc{
    padding-top: 20px !important;
}

.ajusteTema{
    padding-top: 10px !important;
}


.ajusteTime{
    padding-right: 20px !important;
}
