<h3 class="text-center mt-5 text-primary">
    {{title}}
</h3>

<div class="container mt-5">
    <div class="jumbotron">
      <app-progresso [progresso]="progresso"></app-progresso>
        <h1 class="display-5">{{titulo}}</h1>
        <p class="lead">{{ rodadaQuestion.funcional }}</p>
        <hr class="my-4">
        <div class="custom-control custom-radio">
            <input type="radio" id="radio" name="customRadio" class="custom-control-input" (input)="RespSim($event)">
            <label class="custom-control-label" for="radio">Sim</label>
          </div>
          <p class="my-4">
          <div class="container" id="div1" style="display: none;"> 
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="idTem" name="rdTem" class="custom-control-input">
              <label class="custom-control-label" for="idTem">Tem</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="idNaoTem" name="rdTem" class="custom-control-input">
              <label class="custom-control-label" for="idNaoTem">Não Tem</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="idVisto" name="rdVisto" class="custom-control-input">
              <label class="custom-control-label" for="idVisto">Visto</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="idNaoVisto" name="rdVisto" class="custom-control-input">
              <label class="custom-control-label" for="idNaoVisto">Não Visto</label>
            </div>
            <hr class="my-4">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Obs:</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
          </div>
     
          <div class="custom-control custom-radio">
            <input type="radio" id="naoRadio2" name="customRadio" class="custom-control-input" (input)="RespNao($event)">
            <label class="custom-control-label" for="naoRadio2">Não</label>
          </div> 
          <hr class="my-4 mb-5">      
        <div class="row">
            <div class="col-6 text-left"><button type="button" class="btn btn-primary btn-lg" (click)="voltarQuestion()">Voltar</button></div>
            <div class="col-6 text-right"><button type="button" class="btn btn-danger btn-lg" (click)="avancarQuestion()">Avançar</button></div>
          </div>
       </div>
</div>


