.jumbotron {
    padding: 2rem 2rem !important;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    margin-top: 82px;
}
      
.ajusteTema{
    padding-top: 10px !important;
}


.ajusteTime{
    padding-right: 20px !important;
}

.FormName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    color: #0000ff;
}

.txtAjuste{
    resize: none;
}

#sim:focus{
    border: none;
}

