<div class="container">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto">
            <form (submit)="register()">
                <h1 class="h3 mb-3 font-weight-normal">Cadastro</h1>
                <div class="form-group">
                    <label for="first_name">Primeiro Nome</label>
                    <input type="text" class="form-control" name="first_name" placeholder="Digite seu primeiro nome" [(ngModel)]="credentials.first_name">
                </div>
                <div class="form-group">
                    <label for="last_name">Sobrenome</label>
                    <input type="text" class="form-control" name="last_name" placeholder="Digite seu sobrenome" [(ngModel)]="credentials.last_name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite o e-mail" [(ngModel)]="credentials.email">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" name="password" placeholder="Escolha a senha" [(ngModel)]="credentials.password">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Cadastro</button>
            </form>
        </div>
    </div>
</div>
