<div class="container mt-2">
<div id="accordion">
    <div class="card mb-2">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ASSESSMENT - Contextualização
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">         
            <div class="container">
                <div class="row">
                  <div class="col-sm text-center">
                    <a [routerLink]="['/question/entrevista']"><img src="/assets/img/icon.svg">Entrevista Funcional LGPD</a> 
                  </div>
                  <div class="col-sm text-center">
                    <a [routerLink]="['/question/documentalfuncional']"><img src="/assets/img/icon.svg">Documental Funcional LGPD</a>
                  </div>                
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ASSESSMENT - Ciclo de Vida 1 - Geração, Coleta ou Produção       
          </button>
        </h5>
      </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            <div class="flex-row text-center">
                <div class="p-2">
                    <a href="#" style="padding-right: 14px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Entrevista Funcional LGPD</a>
                    <a href="#" style="padding-left: 5px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Documental Funcional LGPD</a>
                    <a href="#" style="padding-right: 28px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Entrevista Técnica LGPD</a>
                    <a href="#" style="padding-right: 10px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Documental Técnica LGPD</a>
                </div>
            </div>                  
        </div>
    </div>
    </div>
    <div class="card mb-2">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ASSESSMENT - Questionário Entrevista Funcional - Ciclo de Vida dos Dados Pessoais - Ciclo de Vida 1
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card mb-2">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                ASSESSMENT - Questionário Entrevista Funcional - Ciclo de Vida dos Dados Pessoais - Ciclo de Vida 1
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                ASSESSMENT - Questionário Entrevista Funcional - Ciclo de Vida dos Dados Pessoais - Ciclo de Vida 1
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0 text-center">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                ASSESSMENT - Questionário Entrevista Funcional - Ciclo de Vida dos Dados Pessoais - Ciclo de Vida 1
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
  </div>
</div>

