<div class="lead text-center mt-5 text-primary">
  {{title}}
</div>
<div class="container mt-2">
  <div id="accordion">
    <div class="card mb-2">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0 text-center">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            ENTREVISTA - FUNCIONAL
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="container">
            <div>
              <div class="row">
                <div class="col-sm text-center">
                  <a [routerLink]="['/question/painelentrevista']"><img src="/assets/img/icon.svg">Contextualização</a>
                </div>
                <div class="col-sm text-center">
                  <a [routerLink]="['/question/painelentrevista']"><img src="/assets/img/icon.svg">Ciclo - 1</a>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="card mb-2">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         DOCUMENTAL    
        </button>
      </h5>
    </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          <div class="flex-row text-center">
              <div class="p-2">
                  <a [routerLink]="['/question/CicloUmEntrevistaFuncional']" style="padding-right: 14px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Funcional</a>
                  <a [routerLink]="['/question/CicloUmEntrevistaTecnica']" style="padding-right: 28px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Técnica</a>
              </div>
          </div>                  
      </div>
  </div>
  </div>
</div>

<div class="container mt-2">
  <div class="card mb-2">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0 text-center">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          ASSESSMENT - Ciclo de Vida - Classificação       
        </button>
      </h5>
    </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <div class="flex-row text-center">
          <div class="p-2">
              <a [routerLink]="['/question/CicloUmEntrevistaFuncional']" style="padding-right: 14px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Entrevista Funcional LGPD</a>
              <a [routerLink]="['/question/CicloUmEntrevistaTecnica']" style="padding-right: 28px;"><img src="/assets/img/icon.svg" style="padding-bottom: 10px;">Entrevista Técnica LGPD</a>
          </div>
      </div>                   
      </div>
  </div>
  </div>
</div>







