<div class="container">
    <div class="container mt-5">
        <p class="lead text-center h1 CorTitulo">
           Tela de Acesso
          </p>
    </div>
    
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm mb-3">
                <div class="d-flex justify-content-around">
                    <div class="card text-center" style="width: 18rem; background-color: #003769;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-user-plus" aria-hidden="true" style="font-size: 50px; color: red;"></i>
                                <p class="text-white">Cadastro Usuário</p>
                            </h5>
                            <a class="btn btn-danger" [routerLink]="['/question/aplicar']">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mb-3">
                <div class="d-flex justify-content-around">
                    <div class="card text-center" style="width: 18rem; background-color: #003769;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-users" aria-hidden="true" style="font-size: 50px; color: rgb(14, 243, 14);"></i>
                                <p class="text-white">Cadastro Perfil</p>
                            </h5>
                            <a class="btn btn-danger" [routerLink]="['/question/perfil']">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mb-3">
                <div class="d-flex justify-content-around">
                    <div class="card text-center" style="width: 18rem; background-color: #003769;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-cogs" aria-hidden="true" style="font-size: 50px; color: rgb(206, 201, 201);"></i>
                                <p class="text-white">Configurar Questionário</p>
                            </h5>
                            <a class="btn btn-danger" [routerLink]="['/question/ConfigQuestion']">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="container">&nbsp;&nbsp;</div>
    
            <div class="col-sm mb-3">
                <div class="d-flex justify-content-around">
                    <div class="card text-center" style="width: 18rem; background-color: #003769;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-files-o" aria-hidden="true" style="font-size: 50px; color: white;"></i>
                                <p class="text-white">Aplicar Questionários</p>
                            </h5>
                            <a class="btn btn-danger" [routerLink]="['/question/AplicarQuestion']">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mb-3">
                <div class="d-flex justify-content-around">
                    <div class="card text-center" style="width: 18rem; background-color: #003769;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-signal" aria-hidden="true" style="font-size: 50px; color:yellow;"></i>
                                <p class="text-white">Analise de GAP</p>
                            </h5>
                            <a class="btn btn-danger" [routerLink]="['/question/AnaliseGap']">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-sm mb-3">
                <div class="d-flex justify-content-around">
                    <div class="card text-center" style="width: 18rem; background-color: #003769;">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-table" aria-hidden="true" style="font-size: 50px; color:white;"></i>
                                <p class="text-white">Tabelas Auxiliares</p>
                            </h5>
                            <a class="btn btn-danger" [routerLink]="['/question/TabAuxiliar']">Acessar</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
    
</div>
