<div class="container">
    <div class="container mt-5">
        <p class="lead text-center h1 CorTitulo text-uppercase">
            <strong>{{ title }} </strong>          
          </p>
    <hr>
    </div>

    <div class="container fundoForm"> 
        <p class="lead"></p>
    
        <fieldset class="border rounded mt-3 p-2">
            <legend class="w-auto border-bottom text-primary"><h5></h5></legend>
           <div class="container">

           

            <form  [formGroup]="formulario" novalidate (ngSubmit)="FormSelecao()">
           
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            NOME DO CLIENTE: &nbsp;<label for="lblCliente">
                                <small *ngIf="formulario.get('customer_name').valid && formulario.get('customer_name').touched" class="form-text text-success"> <strong><i class="fa fa-check" style="font-size: 20px; color: yellow;"></i></strong></small>
                                <small *ngIf="!formulario.get('customer_name').valid && formulario.get('customer_name').touched" class="form-text text-danger"><strong><i class="fa fa-times" style="font-size: 20px; color: red;"></i></strong></small>
                             </label>
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="customer_name"  (change)="onChangeCliente($event.target.value)" id="cliente">
                                <option selected>SELECIONE NOME DO CLIENTE:</option>
                                <option *ngFor="let customer of customers" [ngValue]="customer.id">{{ customer.fantasy_name }}</option>                                
                              </select>                              
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            NOME DA FILIAL: &nbsp;<label for="lblFilial">
                                <small *ngIf="formulario.get('customer_office_name').valid && formulario.get('customer_office_name').touched" class="form-text text-success"><strong><i class="fa fa-check" style="font-size: 20px; color: yellow;"></i></strong></small>
                                <small *ngIf="!formulario.get('customer_office_name').valid && formulario.get('customer_office_name').touched" class="form-text text-danger"><strong><i class="fa fa-times" style="font-size: 20px; color: red;"></i></strong></small>
                            </label>
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="customer_office_name"  (change)="onChangeFilial($event.target.value)" id="filial">
                                <option selected>SELECIONE NOME DA FILIAL:</option>
                                <option *ngFor="let customerOffice of customersOffices" [ngValue]="customerOffice.id">{{ customerOffice.customer_office_name }}</option>
                              </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            Unidade de Negócio: &nbsp;<label for="lblUnidadeNegocio">
                              <small *ngIf="formulario.get('business_unit_name').valid && formulario.get('business_unit_name').touched" class="form-text text-success"><strong><i class="fa fa-check" style="font-size: 20px; color: yellow;"></i></strong></small>
                              <small *ngIf="!formulario.get('business_unit_name').valid && formulario.get('business_unit_name').touched" class="form-text text-danger"><strong><i class="fa fa-times" style="font-size: 20px; color: red;"></i></strong></small>
                            </label>
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="business_unit_name" (change)="onChangeUnidadeNegocio($event.target.value)" id="unidadeNegocio">
                                <option selected>SELECIONE UNIDADE DE NEGÓCIO</option>
                                <option *ngFor="let businessUnit of businessUnits" [value]="businessUnit.id">{{ businessUnit.business_unit_name }}</option>
                            </select>
                        </div>
                    </div>              
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-primary text-uppercase">
                            Selecione a Área:&nbsp;<label for="lblArea">
                              <small *ngIf="formulario.get('area_name').valid && formulario.get('area_name').touched" class="form-text text-success"><strong><i class="fa fa-check" style="font-size: 20px; color: yellow;"></i></strong></small>
                              <small *ngIf="!formulario.get('area_name').valid && formulario.get('area_name').touched" class="form-text text-danger"><strong><i class="fa fa-times" style="font-size: 20px; color: red;"></i></strong></small>
                            </label>
                            <select class="custom-select mr-sm-2 selectCenter" formControlName="area_name" id="area">
                                <option selected>SELECIONE A ÁREA:</option>
                                <option *ngFor="let area of areas" [value]="area.id">{{ area.area_name }}</option>
                              </select>                              
                            </div>
                    </div>              
                </div>
                <br>
                <table class="table">
                    <tr> 
                        <th style="color: white; background-color: rgba(50, 50, 152, 0.65);" class="text-uppercase">&nbsp; Nome da Entrevista </th>
                        <th class="text-center text-uppercase" style="color: white; background-color: rgba(50, 50, 152, 0.65);">Situação</th>
                        <th class="text-center"  style="color: white; background-color: rgba(50, 50, 152, 0.65);">&nbsp;</th>
                        <th class="text-center text-uppercase"  style="color: white; background-color: rgba(50, 50, 152, 0.65);">Ação</th>
                    </tr>
                    <tr *ngFor="let applicationConfig of applicationConfigs" style="background-color: white;">
                        <td style="background-color: white;"><strong>&nbsp;&nbsp;{{ applicationConfig.questionnaire_form_name }}&nbsp;&nbsp;{{ applicationConfig.questionnaire_version_name }}</strong></td>
                        <input type="text" hidden formControlName="questionnaire_form_name">
                        <td *ngIf="showIniciado(applicationConfig)" style="color: red; width: 130px; text-align: center;" class="text-uppercase"><strong>Não Iniciado</strong></td>
                        <td *ngIf="!showIniciado(applicationConfig)" style="color: green; width: 109px; text-align: center;" class="text-uppercase"><strong>Iniciado</strong></td>
                        <td></td>
                        <td style="padding-left: 50px;"><button  class="btn btn-white" routerLink="/question/ConsultaEntrevista/{{ applicationConfig.id }}"><i class="fa fa-pencil-square-o"></i></button></td>
                    </tr>
                    
                </table>

                <div class="container">
                    <div class="row">
                   
                    </div>
                  </div>
                  
                  <br>
                
                <div class="row">
                    <div class="col-sm-4 text-center">
                        <div class="form-group">
                            <button type="button" class="btn btn-danger text-uppercase" (click)="LimparForm()">Limpar</button>   
                        </div>
                    </div>
                                  
                    <div class="col-sm-6 text-right">
                        <div class="form-group">
                            <button type="button" class="btn btn-success text-uppercase" [routerLink]="['/question/menu']">Menu</button>  
                        </div>
                    </div>            
                </div>
                   
              </form>
           </div>
        </fieldset>
    </div>

  
</div><!-- End Container -->

