.CorTitulo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.0em;
  color: blue;
}

.h1 {
  text-shadow: 2px 2px #ccc;
}

.fundoForm{
  background-color: white;
}

.selectCenter {
  text-align-last: center;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-valid.ng-touched {
  border: 1px solid green;
}

.fundoForm {
  background-color: #0054ffe3;
  padding: 20px;
}

.alert-secondary {
  color: #383d41;
  background-color: #b0b2b3ed;
  border-color: #6b6c6d5c;
}


.text-primary {
  color: #ffffff!important;
}


.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}