.footer {
    position:fixed;
    bottom:0;   
    display: flex;
    z-index: 999;
    justify-content: flex-end;
    background-color: #335a9f;
    height: 30px;
    width: 100%;
    padding-right: 20px;
}

.footer span {
    font-size: 1rem;
    font-weight: 10px;
    color: #fff;
    justify-content: center;
    margin-top: 5px;
}

