<!-- Image and text -->
<nav class="navbar navbar-dark p-3 mb-2 bg-primary text-white">
  <a class="navbar-brand" href="#">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="/assets/img/embratel.png" width="200" height="80" class="d-inline-block align-top" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <span class="titulo text-uppercase align-center">{{title}}</span>
        </div>
      </div>
    </div>
  </a>
</nav>
