
.header{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: #007BFF;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
   color:#fff;
   
}

.header .logo{
    max-height: 32px;
}

.header .title-group {
    padding-left: 15px;
}

.header .title-group i {
    padding-right: 5px;
}
